.ui-Personalize
  form.form-horizontal(role='form')
  .form-group
    label.control-label Personal Message:
    textarea.form-control.plm(type='text', rows='5', placeholder='Write Sarah and Ryan a short message (optional)', data-bind='value: gift.message')

