doctype html
html
  head
    title Sarah & Ryan's Honeymoon Registry
    link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")

    link(href='//fonts.googleapis.com/css?family=Raleway:400,300,200,700&subset=latin,latin-ext', rel='stylesheet', type='text/css')
    link(href='//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&subset=latin,latin-ext', rel='stylesheet', type='text/css')
    link(href='//cdn1.editmysite.com/editor/fonts/Freebooter/font.css?2', rel='stylesheet', type='text/css')
    !=styles
    link(rel="icon", type="image/png", href="/favicon.png")
  body
    .site-title Sarah &nbsp;& Ryan's Honeymoon  &nbsp;Registry
    .image-wrapper
      img.scale-image(src='/images/SarahAndRyan.png')
    h2.easter-egg.allonsy Allons-y!
    .center
      img.easter-egg-img.hidden(src='http://www.theshirtlist.com/wp-content/uploads/2014/09/ALLONS-Y.png')
    .container
      .row
        .col-md-10.col-md-offset-1
          .center.descr-text
            p Welcome to our honeymoon registry! We love traveling almost as much as we love each other, and plan to spend to rest of our lives exploring the world together. We hope you will indulge us in helping us pay for our first married adventure, but we have also included some items that we hope to use for years to come on our yet unplanned adventures.
            p.fwb Thank you so much for your help in making it possible for us to go on our dream trip!
            p For our honeymoon, are planning a diving trip to the island of Bonaire, French for “good air.” Bonaire is a small island in the Dutch Caribbean where locals speaking Dutch and English. Bonaire is known as the best island in the Caribbean for scuba diving, and we plan to take advantage of this, by doing a PADI certification course, and exploring some of the many beautiful shore dives.  We are going to stay at Harbor Beach Club Resort, which is touted as the best place to stay on the island and is located in the capital, Kralendijk.  The resort offers lots of special add-ons for honeymooners, which we have included in our registry below.
            p.fwb Allons-y! (French for “Let’s Go!”)
    .items.flex-center(style='padding-bottom: 40px')

    !=scripts
    !=exportsScript
    !=pageScript

