doctype html
html
  head
    title Sarah & Ryan's Honeymoon Registry
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")

    link(href='//fonts.googleapis.com/css?family=Raleway:400,300,200,700&subset=latin,latin-ext', rel='stylesheet', type='text/css')
    link(href='//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&subset=latin,latin-ext', rel='stylesheet', type='text/css')
    link(href='//cdn1.editmysite.com/editor/fonts/Freebooter/font.css?2', rel='stylesheet', type='text/css')
    !=styles
    link(rel="icon", type="image/png", href="/favicon.png")
  body
    .site-title Sarah &nbsp;& Ryan's Honeymoon  &nbsp;Registry
    .image-wrapper
      img.scale-image(src='https://sarahandryanallonsy.s3.amazonaws.com/SarahAndRyan.jpg')
    .container
      .row
        .col-md-10.col-md-offset-1
          .center.descr-text(style='margin-top: 50px')
            p Welcome to our honeymoon registry! We love traveling and plan to spend to rest of our lives exploring the world together. We hope you will help us pay for our first married adventure, but we have also included some items that we hope to use for years to come.
            p.fwb Thank you so much for your help in making it possible for us to go on our dream trip!
            p For our honeymoon, we are planning a scuba diving trip to the island of Bonaire, a small island in the Dutch Caribbean. Bonaire is known as the best island in the Caribbean for scuba diving, and we plan to take advantage of this by doing a PADI certification course and exploring some of the many beautiful shore dives.
            p.fwb.easter-egg.allonsy Allons-y! (French for “Let’s Go!”)
          .center
            img.easter-egg-img.hidden(src='https://sarahandryanallonsy.s3.amazonaws.com/ALLONS-Y.png')
    .container
      .row
        .col-md-12
          .item-groups

    !=scripts
    !=exportsScript
    !=pageScript

